.nav-box::-webkit-scrollbar-track {
    background: #f1f1f1; /* トラックの背景 */
    border-radius: 8px;
}

.nav-box::-webkit-scrollbar-thumb {
	width: 5px;
    background-image: url(涅槃.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    border: 2px solid transparent; /* 境界線を追加 */
    background-clip: content-box; /* 背景をコンテンツ領域に制限 */
}

.nav-box::-webkit-scrollbar-thumb:hover {
    background-image: url(涅槃.jpeg);
    border: 1px solid transparent;
}